<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ToDo management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">

    <!--  CSS File -->
    <link th:href="@{assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Project Name:
    * Project URL:
    * Author:
    ======================================================== -->
</head>

<body style="background-color: #f5f8fd">
<header id="header" class="fixed-top">
    <div class="container d-flex">
        <div class="logo mr-auto">
            <h1 class="text-light">
                <a href="index.html">EnterComputer</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="" alt="Logo" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li class="drop-down"><a href="#services">Solutions</a>
                    <ul>
                        <li><a href="#">ToDoList</a></li>
                        <li><a href="#">Swot Analysis</a></li>
                        <li class="drop-down"><a href="#">Services</a>
                            <ul>
                                <li><a href="#">Markting</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->

<div class="container">
    <h1>ToDo Management System</h1>
    <hr>
    <h2>Save ToDo</h2>

    <form action="#" th:action="@{/saveToDo}" th:object="${ToDo}"
          method="POST">
        <input type="text" th:field="*{subject}"
               placeholder="Add Subject to the ToDo" class="form-control mb-4 col-4">

        <input type="text" th:field="*{body}"
               placeholder="Add a Body" class="form-control mb-4 col-4">

        <input type="text" th:field="*{to_whome}"
               placeholder="Assign it to someone" class="form-control mb-4 col-4">

        <button style="white-space: nowrap; color: #343a40; margin-top: 0px; left: 11%;"
                type="submit" class="btn btn-info "> Save ToDo
        </button>
    </form>

    <hr>

    <a style="color: #007bff;" th:href="@{/tdl.html}"> Back to ToDos List</a>
</div>
<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{assets/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>